<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ey.pwbc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.authentication.LoginActivity"
            android:theme="@style/Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".ui.dashboard.LandingActivity"
            android:theme="@style/landing" />
        <activity
            android:name=".ui.authentication.KeyGenerationActivity"
            android:theme="@style/Login">

        </activity>

        <activity android:name=".ui.product.VoucherDetailActivity">

        </activity>
        <activity android:name=".ui.scanner.ScanActivity" />
    </application>

</manifest>